 @import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@400;600&family=Barlow:wght@600&family=Big+Shoulders+Display:wght@700&family=Commissioner:wght@400;500;700&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Fugaz+One&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@400;700&family=League+Spartan&family=Lexend+Deca&family=Montserrat:ital,wght@0,100;0,200;1,100&family=Nunito:wght@200&family=Open+Sans:wght@400;700&family=Outfit&family=Overpass:wght@100;300;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Raleway:wght@400;700&family=Roboto:wght@300;500&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    /* BORDER */
    --border: 1px solid black;

    /* FONT FAMILY */
    --FF-Roboto: 'Roboto', sans-serif;
    --FF-Montserrat: 'Montserrat', sans-serif;
    --FF-Poppins: 'Poppins', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li{
    list-style: none;    
}
a{
    text-decoration: none;
}


/* --------------------------------NAV-------------------------------- */
.nav{
    padding: 0 24px;
    /* border: var(--border);    */
}

/* ----------NAV DESKTOP---------- */
.nav-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: var(--border); */
    height: 64px;
}

/* ----------NAV LEFT---------- */
.nav-desktop-left{
    display: flex;
    align-items: center;
    height: 32px;
}
.nav-desktop-left-span1{
    color: #4e4e4e;
    font-family: var(--FF-Roboto);
    font-weight: 700;
}
.nav-desktop-left-span2{
    color: #4e4e4e;
    font-family: var(--FF-Roboto);
    font-weight: 400;
    opacity: 60%;

}


/* ----------NAV RIGHT---------- */
.nav-desktop-right{
    display: flex;
    align-items: center;
    height: 32px;
}

.nav-desktop-right li{
    margin-right: 16px;    
}

.nav-desktop-right li:last-child{
    margin-right: 0;    
}

.nav-desktop-right li a{
    color: #6a6a6a;
}

/* ----------NAV MOBILE---------- */
.nav-mobile{
    display: none;
}





/* --------------------------------MAIN-------------------------------- */
/* -----------------------SECTION1----------------------- */
.section1{
    display: flex;
    background-color: #d8d8d8;
}

/* ----------SECTION1 LEFT---------- */
.section1-left{
    width: 60%;
    padding: 32px 24px;
}
.section1-left img{
    width: 100%;
}

/* ----------SECTION1 RIGHT---------- */
.section1-right{
    width: 40%;
    /* border: var(--border); */
    display: flex;
    align-items: center;
}

.section1-right > div{
    /* border: var(--border); */
    width: 75%;
    color: #4a4a4a;
}

.section1-right > div > h1{
    font-family: var(--FF-Roboto);
    font-size: 3.9vw;
}
.section1-right > div > p{
    font-family: var(--FF-Poppins);
    font-weight: 700;
    font-size: 1.8vw;
    margin: 2vw 0;
}
.section1-right > div > button{
    background-color: #4a4a4a;
    border: none;
    color: white;
    font-family: var(--FF-Poppins);
    font-weight: 500;
    width: 100%;
    padding: 8px 0;
}

.section1-right > div > button:hover{
    cursor: pointer;
    opacity: 80%;
}

.section1-right > div > button:active{
    opacity: 50%;
}






/* -----------------------SECTION2----------------------- */
.section2{
    /* border: var(--border); */
    background-color: #f3f5f5;
    display: flex;    
}
/* ----------SECTION2 LEFT---------- */
.section2-left{
    border-right: 1px solid #d8d8d8;
    width: 60%;
    padding: 32px 24px;
    
}

.section2-left img{
    width: 100%;
}
.section2-left h2{
    color: #4a4a4a;
    font-family: var(--FF-Roboto);
    font-size: 3.35vw;
    margin: 32px 0 24px 0;
}
.section2-left p{
    /* border: var(--border); */
    color: #4a4a4a;
    font-family: var(--FF-Poppins);
    font-size: 1.29vw;
    width: 96%;    
}

.section2-left-p1{
    opacity: 80%;
}
.section2-left-p2{
    color: #6d6d6d;
    font-family: var(--FF-Roboto);
    font-weight: 500;
    margin-top: 32px;
} 
/* ----------SECTION2 RIGHT---------- */
.section2-right{
    width: 40%;
}

.section2-right-card{
    /* border: var(--border); */
    display: flex;
    align-items: center;
}

.section2-right-card:hover{
    background-color: #d8d8d8;
}

.section2-right-card:first-child{
    margin-top: 16px;
    border-bottom: 5px double #d8d8d8;
}
.section2-right-card:nth-child(2){
    border-bottom: 5px double #d8d8d8;
}

.section2-right-card img{
    padding: 16px;
    width: 35%;
}
.section2-right-card-right{
    /* border: var(--border); */
    color: #4a4a4a;
    width: 65%;
}

.section2-right-card-right > h3{
    font-family: var(--FF-Poppins);
    font-size: 2vw;
}

.section2-right-card-right  p{
    font-family: var(--FF-Poppins);
    font-size: 1.33vw;
    width: 95%;
    margin: 8px 0;
}
.section2-right-card-right a{
    font-family: var(--FF-Poppins);
    font-size: 1.33vw;
    font-weight: 500;
    opacity: 50%;
}






/* -----------------------SECTION3----------------------- */
/* ----------SECTION3 DESKTOP---------- */
    .section3{
        background-color: #eaebec;
    }
    .section3 h2{
        color: #4a4a4a;
        font-family: var(--FF-Roboto);
        font-size: 3.35vw;
        letter-spacing: 1px;
        text-align: center;
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section3-group-card{
       /* border-top: var(--border); */
        padding: 32px 72px;
        display: flex;
    }

    .section3-group-card:last-child{
        /* border-top: none;
        border-bottom: var(--border); */
        padding-top: 0;
    }

    .section3-card{
        width: 33%;
        background-color: white;
        margin-right: 32px;
    }

    .section3-card:last-child{
        margin-right: 0;
    }

    .section3-card img{
        width: 100%;
        height: auto;
    }

    .section3-card-description{
        padding: 16px 16px 24px;
    }
    .section3-card-description h3{
        color: #4a4a4a;
        font-family: var(--FF-Roboto);
        font-size: 2.1vw;
        font-weight: 400;
    }
    .section3-card-description p{
        color: #4a4a4a;
        font-family: var(--FF-Poppins);
        font-size: 1.29vw;
        opacity: 80%;
        width: 90%;

    }
    .section3-card-description-p1{
        margin: 8px 0;
    }
/* ----------SECTION3 MOBILE---------- */
    .section3-link-title{
        display: none;
    }






/* -----------------------SECTION4----------------------- */
    
    .section4{
        background-color: #f3f5f5;
        
    }
    .section4 h2{
        color: #4a4a4a;
        font-family: var(--FF-Roboto);
        font-size: 3.35vw;
        text-align: center;
        padding-top: 32px;
    }

    .section4-group{
        /* border: var(--border); */
        display: flex;
        border-bottom: 1px solid #d8d8d8;
    }
/* ----------SECTION4 LEFT---------- */
    .section4-left{
        /* border: var(--border); */
        padding: 32px 24px;
        width: 60%;
    }
    .section4-left video{
        width: 100%;
    }

    .section4-left-description{
        /* border: var(--border); */
        margin-top: 24px;
    }
    .section4-left-description h3{
        color: #4a4a4a;
        font-family: var(--FF-Roboto);
        font-size: 2.1vw;
        font-weight: 400;
    }
    .section4-left-description p{
        color: #4a4a4a;
        font-family: var(--FF-Poppins);
        font-size: 1.29vw;
        margin-top: 8px;
    }



/* ----------SECTION4 RIGHT---------- */
    .section4-right{
        width: 40%;
    }

    .section4-right-card{
        display: flex;
        align-items: center;
    }

    .section4-right-card:hover{
        cursor: pointer;
        background-color: #d8d8d8;
    }
    
    .section4-right-card img{
        width: 35%;
        padding: 16px;
    }
    .section4-right-card div{
        width: 65%;
        /* border: var(--border); */
    }
    .section4-right-card div h3{
        color: #4a4a4a;
        font-family: var(--FF-Poppins);
        font-size: 2vw;
    }
    .section4-right-card div p{
        color: #4a4a4a;
        font-family: var(--FF-Poppins);
        font-size: 1.29vw;
        opacity: 80%;
        width: 90%;
    }






/* -----------------------FOOTER----------------------- */
    .footer{
        color: #4a4a4a;
        font-family: var(--FF-Poppins);
        font-size: 1.25vw;
        background-color: #f3f5f5;
        display: flex;
        justify-content: space-between;
        padding: 16px 24px 64px;
    }
    .footer-right-a{
        color: #4a4a4a;
        margin-right: 1rem;
    }