@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@400;600&family=Barlow:wght@600&family=Big+Shoulders+Display:wght@700&family=Commissioner:wght@400;500;700&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Fugaz+One&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@400;700&family=League+Spartan&family=Lexend+Deca&family=Montserrat:ital,wght@0,100;0,200;1,100&family=Nunito:wght@200&family=Open+Sans:wght@400;700&family=Outfit&family=Overpass:wght@100;300;600&family=Poppins:wght@300;600&family=Raleway:wght@400;700&family=Roboto:wght@300;500&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    /* BORDER */
    --border: 1px solid black;

    /* FONT FAMILY */
    --FF-Roboto: 'Roboto', sans-serif;
    --FF-Montserrat: 'Montserrat', sans-serif;
    --FF-Poppins: 'Poppins', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;    
}
a{
    text-decoration: none;
}


/* --------------------------------NAV-------------------------------- */
.nav{
    padding: 0 24px;
    /* border: var(--border);    */
}

/* ----------NAV DESKTOP---------- */
.nav-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: var(--border); */
    height: 64px;
}

/* ----------NAV LEFT---------- */
.nav-desktop-left{
    display: flex;
    align-items: center;
    height: 32px;
}
.nav-desktop-left-span1{
    color: #4e4e4e;
    font-family: var(--FF-Roboto);
    font-weight: 700;
}
.nav-desktop-left-span2{
    color: #4e4e4e;
    font-family: var(--FF-Roboto);
    font-weight: 400;
    opacity: 60%;

}


/* ----------NAV RIGHT---------- */
.nav-desktop-right{
    display: flex;
    align-items: center;
    height: 32px;
}

.nav-desktop-right li{
    margin-right: 16px;    
}

.nav-desktop-right li:last-child{
    margin-right: 0;    
}

.nav-desktop-right li a{
    color: #6a6a6a;
}

/* ----------NAV MOBILE---------- */
.nav-mobile{
    display: none;
}