@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@400;600&family=Barlow:wght@600&family=Big+Shoulders+Display:wght@700&family=Commissioner:wght@400;500;700&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Fugaz+One&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@400;700&family=League+Spartan&family=Lexend+Deca&family=Montserrat:ital,wght@0,100;0,200;1,100&family=Nunito:wght@200&family=Open+Sans:wght@400;700&family=Outfit&family=Overpass:wght@100;300;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Raleway:wght@400;700&family=Roboto:wght@300;500&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    /* BORDER */
    --border: 1px solid black;

    /* FONT FAMILY */
    --FF-Roboto: 'Roboto', sans-serif;
    --FF-Montserrat: 'Montserrat', sans-serif;
    --FF-Poppins: 'Poppins', sans-serif;
}

@media only screen and (max-width: 660px) {
    
/* --------------------------------NAV-------------------------------- */
/* ----------NAV DESKTOP---------- */    
    .nav-desktop{
        display: none;
    }

/* ----------NAV MOBILE---------- */
    .nav-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
    }

    .nav-mobile img  {
        height: 32px;
        /* border: var(--border); */
    }

/* --------------------------------MAIN-------------------------------- */
/* -----------------------SECTION1----------------------- */
    .section1{
        flex-direction: column;    
        background-color: #dbdbdb;
        
    }
/* ----------SECTION1 LEFT---------- */
    .section1-left , .section1-right , .section1-right > div{
        width: 100%;   
    }

    .section1-left{
        padding: 0;
    }

/* ----------SECTION1 RIGHT---------- */
    .section1-right > div{
        padding: 32px 16px;
    }

    .section1-right > div > h1{
        font-size: 10vw;
    }

    .section1-right > div > p{
        font-size: 5.7vw;
        margin: 32px 0 24px 0;
    }





/* -----------------------SECTION2----------------------- */
    .section2{
        background-color: white;
    }
/* ----------SECTION2 LEFT---------- */
    .section2-left{
        display: none;
    }
/* ----------SECTION2 RIGHT---------- */
    .section2-right{
        width: 100%;
        padding: 16px 16px 32px;
    }
    .section2-right-card{
        flex-direction: column;
        align-items: start;
        padding: 0;
        padding-bottom: 64px;
    }
    
    .section2-right-card:first-child{
        margin-top: 0;
        border: none;
    }
    .section2-right-card:nth-child(2){
        border: none;
    }
    .section2-right-card:last-child{
        padding-bottom: 32px;
        border-bottom: 1px solid #d8d8d8;
    }
    .section2-right-card img{
        width: 100%;
        padding: 0;
    }
    .card1 img{
        content: url("/images/information-orientation-mobile.jpg");
        
    }
    .card2 img{
        content: url("/images/information-campus-mobile.jpg");
    }
    .card3 img{
        content: url("/images/information-guest-lecture-mobile.jpg");
    }

    .section2-right-card-right{
        padding: 16px;
        width: 100%;
    }
    .section2-right-card-right h3{
        font-size: 6vw;
    }
    .section2-right-card-right p{
        font-size: 4vw;
        width: 95%;
    }
    .section2-right-card-right a{
        font-size: 4vw;
        font-weight: 550;
    }





/* -----------------------SECTION3----------------------- */
    .section3{
        background-color: white;
    }
    .section3 h2{
        font-size: 10vw;
    }
    .section3-group-card{
        display: none;
    }

    .section3-link-title{
        display: block;
        /* border: var(--border); */
        padding: 16px 16px 32px;
        width: 100%;
    }

    .section3-link-title a{
        display: block;
        /* border: var(--border); */
        background-color: #d8d8d8;
        color: #4a4a4a;
        font-family: var(--FF-Poppins);
        font-size: 5.5vw;
        font-weight: 600;
        margin-bottom: 8px;
        padding: 16px 16px 24px;
    }
    .section3-link-title a:last-child{
        margin-bottom: 0;
    }





/* -----------------------SECTION4----------------------- */
    .section4{
        background-color: white;
        border-top: 1px solid #d8d8d8;
    }
    .section4 h2{
        font-size: 10vw;
    }
    .section4-group{
        border: none;
    }
    .section4-left{
        width: 100%;
        padding: 16px 0 24px 0;
    }
    .section4-left-description{
        display: none;
    }
   .section4-right{
    display: none;
   }

  
}